@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{

} */

.container{
    max-width: 73.5rem;
    width: 100%;
    margin:0 auto;
    padding: 0 1rem;
    /* isolation: isolate; */
   
}

@layer components{
    .toggle__menu span{
        width: 1.5rem;
        height: .2rem;
        background-color: white;
        display: block;
        border-radius: 5rem;
    }

    .btn{
        @apply inline-block py-[.9rem] px-[1.5rem] text-center rounded-[2rem] cursor-pointer;
    }

    .btn__outline{
        @apply inline-block py-[.9rem] px-[1.5rem] text-center rounded-[2rem] border border-solid cursor-pointer;
    }

    .toggle__menu span:nth-child(2){
        margin: .2rem 0;
    }
    .toggle__menu.open span:first-child{
        @apply translate-x-0 translate-y-[10px] rotate-[225deg] ease-out duration-[.5s];
    }
    .toggle__menu.open span:nth-child(2){
        @apply opacity-0
    }
    .toggle__menu.open span:last-child{
        @apply translate-x-0 translate-y-[-3px] rotate-[-225deg] ease-out duration-[.5s];
    }
    .header__nav ul{
        @apply absolute bg-dark top-0 h-0 w-0 overflow-hidden right-0 p-0 pt-[2rem] z-[999] lg:static lg:w-full lg:h-auto lg:pt-0;
    }
    .header__nav ul li:not(:first-child),.header__nav ul li:not(:last-child){
        @apply mx-[1rem] lg:mx-0 lg:ml-[2rem];
    }
    .header__nav ul.open{
        @apply w-[89%] h-[100vh] p-[2rem]   lg:hidden;
    }
    .arjay.show{
        @apply w-full;
    }

    .footer__content a:hover{
        @apply text-green;
    }

    .footer__items i{
        @apply duration-[.8s] ease-out cursor-pointer lg:hidden;
    }
    .footer__items i.open{
        @apply rotate-[-180deg] duration-[.8s] ease-out lg:hidden;
    }
    .footer__items ul{
        @apply relative max-h-0 overflow-hidden lg:overflow-visible duration-[.8s] lg:absolute;
    }
    .footer__items ul.open{
        @apply max-h-[25rem] ease-in relative duration-[.8s] lg:max-h-0 lg:absolute;
    }

    .footer__social i:hover{
        @apply text-green
    }
    /*.sub__usa i:hover{
        @apply text-gray-500
    }*/
    .footer__sub a:hover{
        
    }

    .footer__sub span:hover{
        @apply text-green
    }




    /* --------------------------------------------------------Developer-------------------------------------------------------------*/


    .toggle__menuDev span{
        width: 1.5rem;
        height: .2rem;
        background-color: white;
        display: block;
        border-radius: 5rem;
    }

    .toggle__menuDev span:nth-child(2){
        margin: .2rem 0;
    }
    .toggle__menuDev.open span:first-child{
        @apply translate-x-0 translate-y-[10px] rotate-[-45deg] ease-out duration-[.5s];
    }
    .toggle__menuDev.open span:nth-child(2){
        @apply opacity-0
    }
    .toggle__menuDev.open span:last-child{
        @apply translate-x-0 translate-y-[-3px] rotate-[45deg] ease-out duration-[.5s];
    }

    .headerDev__tabs2 ul{
        @apply bg-dark2 h-0 duration-[.5s] w-full overflow-hidden;
    }
    .headerDev__tabs2 ul.open{
        @apply bg-dark2 h-[27.4rem] ease-in-out duration-[.5s];
    }

    .header__hoverDocs{
        @apply bg-dark2 h-0 duration-[.5s] w-full overflow-hidden  py-0 absolute;
    }
    .header__hoverDocs.open{
        @apply bg-dark2 h-[18rem] ease-in-out duration-[.5s] py-[2rem] absolute;
    }
    .header__hoverDocs.show{
        @apply bg-dark2 h-[18rem] ease-in-out duration-[.5s] py-[2rem] absolute;
    }
    .header__hoverComm{
        @apply bg-dark2 h-0 duration-[.5s] w-full overflow-hidden  py-0 absolute;
    }
    .header__hoverComm.open{
        @apply bg-dark2 h-[9rem] ease-in-out duration-[.5s] py-[2rem] absolute;
    }
    .header__hoverComm.show{
        @apply bg-dark2 h-[9rem] ease-in-out duration-[.5s] py-[2rem] absolute;
    }
    .header__hoverCases{
        @apply bg-dark2 h-0 duration-[.5s] w-full overflow-hidden  py-0 absolute;
    }
    .header__hoverCases.open{
        @apply bg-dark2 h-[15.2rem] ease-in-out duration-[.5s] py-[2rem] absolute;
    }
    .header__hoverCases.show{
        @apply bg-dark2 h-[15.2rem] ease-in-out duration-[.5s] py-[2rem] absolute;
    }

    
}


